[bans]
multiple-versions = "deny"
deny = [
    { name = "openssl" },

    # library choices we've made
    { name = "nalgebra" },     # we use glam as math library, not nalgebra 
    { name = "nalgebra-glm" }, # we use glam as math library, not nalgebra 
    { name = "ncollide3d" },   # we use PhysX, not nphysics/nalgebra 
    { name = "nphysics" },     # we use PhysX, not nphysics/nalgebra 

    # deprecated/abandoned
    { name = "term" },              # term is not fully maintained, and termcolor is replacing it
    { name = "quickersort" },       # explicitly deprecated
    { name = "build-helper" },      # abandoned, and doesn't add much value
    { name = "app_dirs" },          # abandoned, use app_dirs2 instead
    { name = "colored" },           # not actively maintained? slow to merge update fixes in and has lots of old dependencies
    { name = "floating-duration" }, # not needed with Rust 1.38, and very few users and commits
    { name = "mopa" },              # abandoned, have not been updated for 4 years
]
skip = [
    # window-sys duplicates, only used by pxbind, doesn't affect physx-sys/physx itself
    { name = "windows-sys", version = "=0.42.0" },
]
skip-tree = []

[licenses]
unlicensed = "deny"
allow-osi-fsf-free = "neither"
# We want really high confidence when inferring licenses from text
confidence-threshold = 0.92
allow = ["Apache-2.0", "BSD-3-Clause", "MIT"]

exceptions = [{ allow = ["Unicode-DFS-2016"], name = "unicode-ident" }]

[[licenses.clarify]]
name = "physx-sys"
expression = "(MIT OR Apache-2.0) AND BSD-3-Clause"
license-files = [{ path = "LICENSE", hash = 0xe326546e }]
