[package]
name = "physx-sys"
description = "Unsafe bindings for NVIDIA PhysX C++ SDK"
version = "0.1.0+4.1"
authors = ["Embark <opensource@embark-studios.com>", "Tomasz Stachowiak <h3@h3.gd>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/EmbarkStudios/physx-rs"
edition = "2018"
build = "build.rs"
readme = "README.md"
keywords = ["physics"]
categories = ["external-ffi-bindings", "simulation", "game-engines"] 
publish = false # not yet
exclude = [
    "PhysX/externals/clang-physxmetadata/**/*",
    "PhysX/externals/glew/**/*",
    "PhysX/externals/opengl-linux/**/*",
    "PhysX/externals/targa/**/*",
    "PhysX/externals/vswhere/**/*",
    "PhysX/*demo/**/*",
    "PhysX/physx/bin/**/*",
    "PhysX/physx/buildtools/**/*",
    "PhysX/physx/documentation/**/*",
    "PhysX/physx/samples/**/*",
    "PhysX/physx/snippets/**/*",
    "PhysX/physx/tools/**/*",
    "PhysX/**/*.sh",
    "PhysX/**/*.bat",
    "PhysX/**/*.html",
    "structgen.obj",
]

[lib]
doctest = false

[dependencies]

[build-dependencies]
cc = "1.0"
cmake = "0.1.35"

# Use lastest semver
build-helper = { git = "https://github.com/EmbarkStudios/rust-build-helper", rev = "9135717" }
