[package]
name = "physx"
description = "High-level Rust interface for Nvidia PhysX"
version = "0.4.2"
authors = ["Embark <opensource@embark-studios.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/EmbarkStudios/physx-rs"
edition = "2018"
readme = "README.md"
keywords = ["physics"]
categories = ["api-bindings", "simulation", "game-engines"]

[lib]
doctest = false

[dependencies]
physx-macros = { version = "0.1", path = "../physx-macros" }
physx-sys = { version = "0.2", path = "../physx-sys" }

enumflags2 = "0.6"
log = "0.4"
glam = "0.8"
